.jobs {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    &-list {
        height: 100vh;
        overflow: auto;
        &-wrapper {
            flex-basis: 40%;
        }
    }
    &-view {
        flex-basis: 60%;
        margin-left: 15px;
    }
}
